<div {{ block.shopify_attributes }} class="featured-buttons">
  {%- if product != blank -%}
    <custom-form method="post" action="/cart/add" data-section-id="{{ section.id }}" class="featured__product__form custom-form">
      {%- assign product_form_id = 'custom-form-' | append: product.id -%}
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          type="hidden"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
        >
        <button
          name="add"
          type="submit"
          class="featured__product__button"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            aria-disabled="true"
            {% else %}
            aria-disabled="false"
          {% endif %}
        >
          {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
            Sold out!
          {%- else -%}
            <span>Add to cart - {{ product.price | money }}</span>
          {%- endif -%}
          {% render 'loading-spinner' %}
        </button>
      {%- endform -%}
    </custom-form>
  {%- endif -%}
  <script src="{{ 'component-product-form.js' | asset_url }}" defer="defer"></script>
</div>
